@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1> Aplicativo do Porto </h1>
    <h4>Um aplicativo para controle de containers atraves de BLs (bill of landings).</h4>

    <h5><a href="https://pt.wikipedia.org/wiki/Contentor_(transporte)" target="_blank">Mais informações sobre Containers.</a></h5>
    <h5><a href="https://www.allog.com.br/blog/billoflading/" target="_blank">Mais informações sobre Bill of Landings (BLs).</a></h5>
</div>