@model TP03SW2.Models.Container

@{
    ViewData["Title"] = "Create";
}

<h2>Criar um Container</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tamanho" class="control-label"></label>
                <input asp-for="Tamanho" class="form-control" />
                <span asp-validation-for="Tamanho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BLId" class="control-label"></label>
                <select asp-for="BLId" class ="form-control" asp-items="ViewBag.BLId"></select>
            </div>
            <div class="form-group" style="margin:15px 0px">
                <a class="btn btn-dark" asp-action="Index">Voltar</a> | <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


